<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Suite" verbose="2"  parallel="none" thread-count="1">

    <test name="Some Workflow Tests 1" parallel="none">
    <classes>
    	<class name="Master.Yelp"/>
    </classes>
  </test>
  
  
  
  <!-- Test -->
</suite> 

