<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Suite" verbose="2"  parallel="none" thread-count="1">
   <listeners>
    <listener class-name="Master.TestNGListener" />
  </listeners>
   <test name="Some Workflow Tests 1" parallel="none">
    <classes>
    	<class name="Master.CRMExecution"/>
    </classes>
  </test>
   <test name="Some Workflow Tests 2" parallel="none">
    <classes>
    	<class name="Master.OrdersExecution1"/>
    </classes>
  </test>
   <test name="Some Workflow Tests 3" parallel="none">
    <classes>
    	<class name="Master.OrdersExecution2"/>
    </classes>
  </test>
  
  
   <test name="Some Workflow Tests 4" parallel="none">
    <classes>
    	<class name="Master.WESPORDER"/>
    </classes>
  </test>
  
  
  
  <test name="Some Workflow Tests 5" parallel="none">
    <classes>
    	<class name="Master.SepRelease"/>
    </classes>
  </test>
  
  <!-- Test -->
</suite> 

